    <tr>
    	<td><%= interest.title %></td>
        <td><%= interest.description %></td>
        <td><%= link_to 'Show', interest %></td>
        <% if current_user == interest.user %>
        <td><%= link_to 'Edit', edit_interest_path(interest) %></td>
        <td><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>